@model List<OrderItemViewModel>

<div id="main-body" class="container mt-3">
        
<h2>Order details</h2>
<div class="container py-5">
	<div class="row">
		<div class="col-sm-5 border border-light rounded">
          <div>
              <div>
                <h4>Delivery address</h4>
                <ul class="order-group">
                    <li list-group-item=""><strong>Full name: </strong> Guðni Th. Jóhannesson</li>
                    <li><strong>Street Name: </strong> Bessastaðir</li>
                    <li><strong>Street Name 2: </strong>Street Name 2: </li>
                    <li><strong>Town/City: </strong>Álftanes</li>
                    <li><strong>Country: </strong>Iceland</li>
                    <li><strong>Zip code: </strong> 225</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5 border border-light rounded">
          <div>
            <div>
              <h4>Payment method</h4>
                <p><i class="fal fa-credit-card"></i><strong>Ending in: </strong>4567</p>
            </div>
          </div>
        </div>
	</div>
    <br>
    <br>
	<div class="row">
		<div class="col-sm-5 border border-light rounded">
          <div>
            <div>
              <h4>Invoice Address</h4>
                 <ul class="order-group">
                    <li list-group-item=""><strong>Full name: </strong> Guðni Th. Jóhannesson</li>
                    <li><strong>Street Name: </strong> Bessastaðir</li>
                    <li><strong>Street Name 2: </strong>Street Name 2: </li>
                    <li><strong>Town/City: </strong>Álftanes</li>
                    <li><strong>Country: </strong>Iceland</li>
                    <li><strong>Zip code: </strong> 225</li>
                </ul>
            </div>
          </div>
        </div>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>   </th>
                        <th>   </th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="https://images.gr-assets.com/books/1412064931l/23168817.jpg" style="height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading">Product name</h4>
                                <h5 class="media-heading"> by Brand name</h5>
                                <span>Quantity: </span><span class="text-success"><strong>2</strong></span>
                            </div>
                        </div></td>
                        <td>   </td>
                        <td>   </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>1500 kr</strong></td> 
                        <td class="col-sm-1 col-md-1 text-center"><strong>3000 kr</strong></td>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>