
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.demo-class {
    border: #000 3px solid;
    padding: 25px;
    font-weight: 700;
}

.flex-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: space-between;
}

.flex-column {
    display: flex;
    flex-flow: column;
}