<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>delivery address</th>
                        <th>billing address</th>
                        <th>Total</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >
                          <ul id="address">
                                <li><strong>Guðni Th. Jóhannesson</strong></li>
                          </ul>
                        </td>
                        <td >
                          <ul id="address">
                                <li><strong>Street Name: </strong> Bessastaðir</li>
                                <li><strong>House number: </strong> 0 </li>
                                <li><strong>Town/City: </strong>Álftanes</li>
                                <li><strong>Country: </strong>Iceland</li>
                                <li><strong>Zip code: </strong> 225</li>
                            </ul>
                        </td>
                        <td >
                          <input type="radio" name="useAsDelivery" checked>
                        </td>
                        <td >
                          <input type="radio" name="useAsBilling" checked>
                        </td> 
                        <td >  </td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>