@model AddressIdViewModel

<h2>Address</h2>
<div class="">
    <div class="row">
        <div class="col-sm-9 col-md-9">
            <table class="table table-light">
                <thead class="table-secondary">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Delivery address</th>
                        <th>Billing address</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    </tr>
                                        <tr>
                        <td >
                          <ul id="address">
                                <li><strong>Guðni Th. Jóhannesson</strong></li>
                          </ul>
                        </td>
                        <td >
                          <ul id="address">
                                <li><strong>Street Name: </strong> Bessastaðir</li>
                                <li><strong>House number: </strong> 0 </li>
                                <li><strong>Town/City: </strong>Álftanes</li>
                                <li><strong>Country: </strong>Iceland</li>
                                <li><strong>Zip code: </strong> 225</li>
                            </ul>
                        </td>
                        <td class="text-center">
                          <label>Use as delivery address</label><input type="radio" name="useAsDelivery" checked>
                        </td>
                        <td class="text-center">
                           <label>Use as billing address</label><input type="radio" name="useAsBilling" checked>
                        </td> 
                        <td>
                            <button type="button" class="btn btn-danger">Delete</button>
                         </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-light btn-block mt-2" asp-area="" asp-controller="ShoppingCart" asp-action="AddAddress"><strong><i class="fas fa-plus"></i></strong>  ADD NEW ADDRESS</a>
        </div>
            <div class="card h-25">
              <a class="btn btn-success mt-2 ml-2 mr-2" asp-area="" asp-controller="ShoppingCart" asp-action="CheckOut" asp-route-id="@Model.Id">Continue</a>
         <div class="card-body">Continue to payment</div>
    </div>
    </div>
</div>
