@model List<CartBookViewModel>
@{
    ViewData["Title"] = "Cart";
}
<div class="container">
    <div class="jumbotron">
        <h2>Cart &#64; DATAdump</h2>
    </div>
    <ol>
        @foreach(var book in @Model)
        {
            <li>Title: @book.Title Price: @book.Price</li>
        }
    </ol>
</div>