@model AddressIdViewModel

<h2>Order details</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 border ">
                <div>
                    <div>
                        <h4>Shipping address</h4>
                        <ul class="order-group">
                            <li list-group-item="">
                                <strong>Full name: </strong>
                            </li>
                            <li>Street Name: </li>
                            <li>
                                <strong>Town/City: </strong>y</li>
                            <li>
                                <strong>Country: </strong>
                            </li>
                            <li>
                                <strong>Zip code: </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 card h-25 ml-3 mr-3" >
                <a class="btn btn-success mt-2 ml-2 mr-2" asp-area="" asp-controller="ShoppingCart" asp-action="Buy" asp-route-id="@Model.Id">Buy now!</a>
                <div class="card-body">
                    <strong>Order summary: </strong>
                    <div>Books: 100kr</div>
                    <div>Postage: 0kr</div>
                    <div>Total before tax: 75kr</div>
                    <div>Tax: 25kr</div>
                    <div><h3>ORDER TOTAL: 100kr</h3></div>

                
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-6 border ">
                <div>
                    <div>
                        <h4>Billing Address</h4>
                        <ul class="order-group">
                            <li list-group-item="">
                                <strong>Full name: </strong>
                            </li>
                            <li>Street Name: </li>
                            <li>
                                <strong>Town/City: </strong>
                            </li>
                            <li>
                                <strong>Country: </strong>
                            </li>
                            <li>
                                <strong>Zip code: </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div> 
    </div>
    </div>  
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

            </div>
        </div>
    </div>