@using BookCave.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager


<div class="d-flex flex-row">
        <button class="btn btn-info">
        <a asp-action="Index" class=" @ManageNavPages.IndexNavClass(ViewContext)">Profile</a>
        </button>
        <button class="btn btn-info ml-3">
        <a asp-action="ChangePassword" class=" @ManageNavPages.ChangePasswordNavClass(ViewContext)">Password</a>
        </button>
        <button class="btn btn-info ml-3">
        <a asp-action="EditProfile" class=" @ManageNavPages.EditProfileNavClass(ViewContext)">Edit profile</a>
        </button>
</div>

