@model BookCave.Models.InputModels.UserInputModel

<h2>Add User&#58;</h2>
<form method="post" asp-controller="Home" asp-action="AddUser">
        <label asp-for="UserName"></label>
        <input type="text" asp-for="UserName" placeholder="Enter user name"><br>
        <span asp-validation-for="UserName"></span>

        <label asp-for="FullName"></label>
        <input type="text" asp-for="FullName" placeholder="Enter your full name"><br>
        <span asp-validation-for="FullName"></span>

        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" placeholder="Enter email"><br>
        <span asp-validation-for="Email"></span>
        
        <label asp-for="Gender"></label>
        <input type="radio" asp-for="Gender" value="Male" >Male<br>
        <input type="radio" asp-for="Gender" value="Female" >Female <br>

        <label asp-for="Age"></label>
        <input type="number" asp-for="Age" placeholder="Age"><br>
        <span asp-validation-for="Age"></span>

        <label asp-for="FavoriteBook"></label>
        <input type="number" asp-for="FavoriteBook" placeholder="What's your favorite book?"><br>
        <span asp-validation-for="FavoriteBook"></span>

        <br><button type="submit">Add User!</button>
</form>