@model List<BookListViewModel>
@{
    ViewData["Aplhabet"] = "Alphabet";
}
<div class="container">
    <div class="jumbotron">
        <h2>BookCave &#64; DATAdump</h2>
    </div>
    <ol>
        @foreach(var book in @Model)
        {
            <li>Title: @book.Title</li>
        }
    </ol>
</div>