@model List<BookListViewModel>
@{
    ViewData["Genre"] = "Top Ten Books";
}
<div class="container">
    <div class="jumbotron">
        <h2>BookCave &#64; DATAdump</h2>
    </div>
    <ul>
        @foreach(var book in @Model)
        {
            <li>Title: @book.Title ; Rating: @book.Rating ; Genre: @book.Genre</li>
        }
    </ul>
</div>