@{
    ViewData["Title"] = "BookCave Inc";
}


<div class="container">
    <div class="jumbotron">
        <h1>HOME CONTROLLER</h1>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="SeeBooks" class="btn btn-success">GET BOOKS FROM LOCAL SERVER</a>

    <a asp-area="" asp-controller="Home" asp-action="GetOrders" class="btn btn-success">GET ORDERS FROM LOCAL SERVER</a>

    <a asp-area="" asp-controller="Home" asp-action="TopTenBooks" class="btn btn-success">TOP TEN LIST</a>

        <form asp-controller="Home" asp-action="Genre" method="get">
        <fieldset>
            <legend>Genre</legend>
            <select id="genre" name="genre">
            <option value="Crime"></option>
            <option value="Children"></option>
            </select>
            <p><input type="submit" value="Select" /> </p>
        </fieldset>

        </form>
</div>
