@{
    ViewData["Title"] = "BookCave Inc";
}


<div class="container">
    <div class="jumbotron">
        <h1>HOME CONTROLLER</h1>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="SeeBooks" class="btn btn-success">GET BOOKS FROM LOCAL SERVER</a>

    <a asp-area="" asp-controller="Home" asp-action="SeeUsers" class="btn btn-success">GET USERS FROM LOCAL SERVER</a>
</div>