@model List<BookListViewModel>
@{
    ViewData["Search"] = "Search";
}

@foreach(var book in @Model)
{
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <img class="img-fluid d-block" src="https://images.gr-assets.com/books/1519091756m/41064.jpg">
        </div>
        <div class="col-md-9">
          <a asp-area="" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"><h1 class="">@book.Title</h1></a>
          <p class="lead">By  </p>
          <p>Rating: @book.Rating</p>
        </div>
      </div>
    </div>
  </div>
}