<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookCave</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Arnar -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <header class="menu-container">
                <div class="menu">
                    <ul class="flex-list">
                        <li><a href="#"><img src="~/images/logo.png" alt="BookCave" id="logo-image"></a></li>
                        <li><a href="#">Shop by Category</a>
                            <ul>
                                <li><a href="">School</a>
                                    <ul>
                                        <li><a href="#">Lidership</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Locations</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Study</a>
                                    <ul>
                                        <li><a href="#">Undergraduate</a></li>
                                        <li><a href="#">Masters</a></li>
                                        <li><a href="#">International</a></li>
                                        <li><a href="#">Online</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Research</a>
                                    <ul>
                                        <li><a href="#">Undergraduate research</a></li>
                                        <li><a href="#">Masters research</a></li>
                                        <li><a href="#">Funding</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Something</a>
                                    <ul>
                                        <li><a href="#">Sub something</a></li>
                                        <li><a href="#">Sub something</a></li>
                                        <li><a href="#">Sub something</a></li>
                                        <li><a href="#">Sub something</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="li-search" class="li-nohover">
                            <form action="#" method="get" id="top-search" class="form-inline">
                                <div class="form-group">
                                    <input id="x" type="text" class="form-control" name="x" placeholder="Title / Author / ISBN">
                                    <button type="submit" class="btn bg-light"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </li>
                        <li><a href="#"><i class="far fa-heart fa-lg"></i></a>
                            <ul>
                                <li><a href="#">BOOK</a></li>
                                <li><a href="#">LIST</a></li>
                                <li><a href="#">ITEM</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fas fa-shopping-cart fa-lg"></i></a>
                            <ul>
                                <li><a href="#">SHOPPING</a></li>
                                <li><a href="#">CART</a></li>
                                <li><a href="#">ITEM</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fas fa-user-circle fa-lg"></i></a>
                            <ul>
                                <p class="flex-list">@await Html.PartialAsync("_LoginPartial")</p>
                            </ul>
                        </li>                      
                    </ul>
                </div>
    </header>

    <div id="main-body">
        @RenderBody()
    </div>

    <hr>
    <footer>
        <button type="button" class="btn btn-outline-primary btn-sm"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></button>
        <button type="button" class="btn btn-outline-secondary btn-sm"><a asp-area="" asp-controller="Book" asp-action="Index">Book</a></button>
        <button type="button" class="btn btn-outline-success btn-sm"><a asp-area="" asp-controller="Author" asp-action="Index">Author</a></button>
        <button type="button" class="btn btn-outline-info btn-sm"><a asp-area="" asp-controller="Customer" asp-action="Index">Customer</a></button>
        <button type="button" class="btn btn-outline-warning btn-sm"><a asp-area="" asp-controller="Warehouse" asp-action="Index">Warehouse</a></button>
        <button type="button" class="btn btn-outline-danger btn-sm"><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></button>
        <!-- <p class="flex-list">@await Html.PartialAsync("_LoginPartial")</p> -->
    </footer>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script> -->
    <!-- Arnar -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

