<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - BookCave</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/w3.css">
</head>
<body>
    <header class="w3-top">
        <div class="menu-container">
        <div class="menu">
            <ul class="d-flex justify-content-center">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="BookCave" class="hide-mobile" id="logo-image"></a></li>
                <li><a href="#">Shop by Category</a>
                    <ul>
                        <li><a href="">School</a>
                            <ul>
                                <li><a href="#">Lidership</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Locations</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Study</a>
                            <ul>
                                <li><a href="#">Undergraduate</a></li>
                                <li><a href="#">Masters</a></li>
                                <li><a href="#">International</a></li>
                                <li><a href="#">Online</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Research</a>
                            <ul>
                                <li><a href="#">SHOPPING</a></li>
                                <li><a asp-area="" asp-controller="ShoppingCart" asp-action="Index">CART</a></li>
                                <li><a href="#">ITEM</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Something</a>
                            <ul>
                                <li><a href="#">Sub something</a></li>
                                <li><a href="#">Sub something</a></li>
                                <li><a href="#">Sub something</a></li>
                                <li><a href="#">Sub something</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
<<<<<<< HEAD
                <li><a asp-area="" asp-controller="Home" asp-action="TopTenBooks" id="top-ten">Top 10 Books</a></li>
=======
                <li><a asp-area="" asp-controller="Home" asp-action="TopTenBooks" id="top-ten-trigger">Top 10 Books</a></li>
>>>>>>> master
                <li id="li-search" class="li-nohover">
                    <form asp-controller="Home" asp-action="Search" method="get" id="top-search" class="form-inline">
                        <div class="form-group">
                            <input id="x" type="text" class="form-control" name="x" placeholder="Title / Author / ISBN">
                            <button type="submit" class="btn nav-search"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </li>
                <li class="mt-1"><a href="#"><i class="far fa-heart fa-lg"></i></a>
                    <ul>
                        <li><a href="#">BOOK</a></li>
                        <li><a href="#">LIST</a></li>
                        <li><a href="#">ITEM</a></li>
                    </ul>
                </li>
                <li class="mt-1"><a a asp-area="" asp-controller="ShoppingCart" asp-action="Index"><i class="fas fa-shopping-cart fa-lg"></i></a>
                    <ul>
                        <li><a href="#">SHOPPING</a></li>
                        <li><a asp-area="" asp-controller="ShoppingCart" asp-action="Index">CART</a></li>
                        <li><a href="#">ITEM</a></li>
                    </ul>
                </li>
                <li class="mt-1"><a href="#"><i class="fas fa-user-circle fa-lg"></i></a>
                    <ul>
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </li>                      
            </ul>
        </div>
        </div>
    </header>

    <div id="main-body" class="container">
        @RenderBody()
    </div>

    <hr>
    <footer class="w3-bottom w3-center"> 
        <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn" asp-area="" asp-controller="Home" asp-action="About">Help and information</a>
    </footer>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
          
</body>
</html>

