@{
    ViewData["Title"] = "[DYNAMIC TITLE]";
}

<div class="demo-class flex-column">
    <div class="demo-class flex-row">
        <div class="demo-class">BOOK COVER</div>
        <div class="demo-class">BOOK INFO(LOCAL)</div>
    </div>
    <div class="demo-class">
        <span>OTHER BOOKS YOU MIGHT LIKE (CAROUSEL)</span>
    </div>
    <div class="demo-class flex-row">
        <div class="demo-class">BOOK DETAILS</div>
        <div class="demo-class">ABOUT AUTHOR</div>
    </div>
    <div class="demo-class flex-column">
        <div class="demo-class flex-row">
            <div class="demo-class">AVATAR</div>
            <div class="demo-class">REVIEW</div>
        </div>
        <div class="demo-class flex-row">
            <div class="demo-class">AVATAR</div>
            <div class="demo-class">REVIEW</div>
        </div>
        <div class="demo-class flex-row">
            <div class="demo-class">AVATAR</div>
            <div class="demo-class">REVIEW</div>
        </div>
        <div class="demo-class flex-row">
            <div class="demo-class">AVATAR</div>
            <div class="demo-class">REVIEW</div>
        </div>
    </div>
</div>