@{
    ViewData["Title"] = "[DYNAMIC TITLE]";
}


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="img-fluid d-block mx-auto img-thumbnail" src="https://images.gr-assets.com/books/1464570795l/77197.jpg"> </div>
        <div class="col-md-9" >
          <h1 class="">Book title
            <br> </h1>
          <p class="lead">by Author</p>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="btn-group">
            <a href="#" class="btn btn-outline-primary">Add to cart</a>
            <a href="#" class="btn btn-outline-primary">Add to wishlist</a>
          </div>
        </div>
        <div class="col-md-9">
          <p class="lead">Price</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6" id="BookDetails">
          <h3 class="" contenteditable="true">Book details</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-6">
          <h3 class="" contenteditable="true">About the author</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row"> </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Reviews</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="">Jón Jónson</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <img class="img-fluid d-block img-thumbnail mx-auto border" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpYU0PmdMDRDn0wsB5yIEzZi6pcCJhxo-d_txR3iMO_9yHjGG"> </div>
        <div class="col-md-11 border">
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>