@{
    ViewData["Title"] = "Book Space";
}

<div class="container">
    <div class="jumbotron">
        <h1>BOOK CONTROLLER</h1>
    </div>
    <a asp-area="" asp-controller="Book" asp-action="Details" class="btn btn-danger">BOOK DETAILS [WIP]</a>
</div>